.pokemons {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
	gap: 10px;
}

@media (max-width: 1000px) {
	.pokemons {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(16em, 1fr));
		gap: 5px;
	}
}
